#root {
  width: 100%;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  margin-top: 40px;
  box-shadow: inset 0 0 1px #b30000;
  border-radius: 35px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b30000;
  border-radius: 0px;
}

@font-face {
  font-family: quicksand;
  src: url("./font/Inconsolata-VariableFont_wdth\,wght.ttf") format("truetype");
  font-style: normal;
}

body {
  background-color: #f0c7a670;
  margin: 0px;
  padding: 0px;
  color: #db0000;
  font-family: quicksand;
  overflow-x: hidden;
  overflow-y: hidden;
}

.border {
  margin-top: 40px;
  display: inline-block;
  height: 100vh;
  width: 12px;
  position: absolute;
  left: 36%;
  cursor: w-resize;
}

.border-collapsed {
  top: 10px;
  border-bottom: 22px solid #db00009a;
  border-right: 17px solid transparent;
  border-left: 38px solid transparent;
  position: absolute;
  left: 10px;
  cursor: w-resize;
}

.border-collapsed:hover {
  border-bottom: 22px solid #ce59599a;
}

h1 {
  /* padding-bottom: 10px; */
}

h1,
h3,
h4 {
  color: #db0000;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #db0000;
  font-weight: 700;
  transition: color 0.2s ease;
}

a:hover {
  color: #c76c6cad;
}

h2 a {
  text-decoration: underline;
  font-style: oblique;
}

.app {
  height: 100%;
  justify-content: center;
  align-items: auto;
  text-align: center;
  text-emphasis-color: #eee;
  padding: 5%;
}

.header {
  padding-bottom: 22px;
}

.card {
  background: #eee;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 5%;
  box-shadow: 10px 10px;
  align-self: start;
  align-content: auto;
}

/* Create two equal columns that floats next to each other */
.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column-left {
  flex: 37%;
  padding: 10px;
  overflow: scroll;
  max-height: 90vh;
  overflow-x: hidden;
}

.column-left-minimized {
  flex: 0%;
  overflow: hidden;
  /* max-height: 90vh; */
  overflow-x: hidden;
  display: none;
}

.column-right {
  flex: 63%;
  padding: 10px;
  padding-left: 35px;
  overflow-y: scroll;
  max-height: 90vh;
  overflow-x: hidden;
}

.column-right-max {
  flex: 100%;
  padding: 10px;
  padding-left: 35px;
  overflow-y: scroll;
  max-height: 90vh;
  /* overflow-x: hidden; */
  /* padding: 10px;
  padding-left: 35px;
  overflow: scroll;
  max-height: 90vh;
  overflow-x: hidden; */
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.box:first-child {
  border-top: solid #db0000 2px;
}

.bullet-box {
  padding-left: 14px;
}

.box {
  border-bottom: solid #db0000 2px;
  padding: 12px 0;
}

.footer {
  position: fixed;
  left: 40;
  bottom: 0;
  width: 100%;
  text-align: left;
  padding: 10px;
  margin: 0;
  padding-left: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media only screen and (max-width: 600px) {
  .card {
    height: 30%;
  }
}

.social-container {
  /* background: #eee; */
  padding: 1px 1px;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

.link {
  margin-right: 125px;
}
